@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-primary: #2a254b;
    --primary: #4e4d93;
    --light-grey: #f9f9f9;
    --border-grey: #ebe8f4;
    --white: #fff;
    --border-dark: #cac6da;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header__title {}

.header__nav {}

.header__nav-link {}

.header__appbar {}