@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-primary: #2a254b;
    --primary: #4e4d93;
    --light-grey: #f9f9f9;
    --border-grey: #ebe8f4;
    --white: #fff;
    --border-dark: #cac6da;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    color: var(--dark-primary);
    border: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    padding: 16px 32px;
    width: 200px;
    height: 60px;
}

.btn--primary {
    background: var(--light-grey);
}

.btn--secondary {
    background: rgba(249, 249, 249, 0.15);
    color: #fff;
}

.btn--white {
    background: var(--white);
}

.btn__

.header {}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header__title {
    color: #22202e;
}

.header__nav {
    margin-top: 4px;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 44px;
}

.header__nav-link {
    color: #726e8d;
    text-decoration: none;
}

.header__appbar {
    display: flex;
    gap: 16px;
}

/* Welcome */

.welcome {
    padding: 60px 0;
}

.welcome__inner {
    background-color: var(--dark-primary);
    display: flex;
}

.welcome__content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome__header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.welcome__title {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}

.welcome__description {
    color: #fff;
}

.welcome__image-wrapper {}

.welcome__image {
    width: 520px;
    height: 100%;
    object-fit: cover;
}


/* Products */

.products {
    padding: 80px 0 52px 0;
}

.products__inner {}

.products__title {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 26.5px;
}

.products__items {
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 34.5px;
}

.products__item {
    width: 305px;
}

.products__image {
    width: 305px;
    height: 375px;
    object-fit: cover;
}

.products__item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.products__item-title {
    font-weight: 400;
}

.products__btn {
    display: block;
    margin: 0 auto;
}


/* About section */

.about {
    overflow: hidden;
    position: relative;
    height: 600px;
}

.about__inner {
    display: flex;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 100px 50px 0;
    width: 535px;
    height: 480px;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 315px;
}

.about__title {
    font-size: 24px;
    font-weight: 400;
}

.about__description {
    color: #505977;
}

.about__image-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50vw;
    overflow: hidden;
}

.about__image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Footer */

.footer {
    background: var(--dark-primary);
}

.footer__inner {}

.footer__nav {}

.footer__nav-section {}

.footer__title {
    font-weight: 700;
    color: var(--white);
}

.footer__nav-list {}

.footer__nav-link {
    font-size: 16px;
    color: var(--white);
}

.footer__subscribe {}

.subscribe {}

.subscribe__form {}

.subscribe__input {
    padding: 16px 32px;
    width: 500px;
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    color: var(--white);
}

.subscribe__btn {}

.footer__divider {}

.footer__copyright {}

.footer__copyright-title {
    color: var(--white);
}

.footer__social {}

.social {}

.social__item {}

.social__link {}