@import "../base/_globals.css";
@import "../base/_typography.css";
@import "../base/_variables.css";
@import "../components/_buttons.css";
@import "../components/_container.css";

/* Header */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header__title {
    color: #22202e;
    font-size: 20px;
}

.header__nav {
    margin-top: 4px;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 44px;
}

.header__nav-link {
    color: #726e8d;
}

.header__appbar {
    display: flex;
    gap: 16px;
}

.burger-menu {
    position: relative;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Welcome */

.welcome {
    padding: 60px 0;
}

.welcome__inner {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--dark-primary);
    display: flex;
}

.welcome__content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome__header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.welcome__title {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}

.welcome__description {
    color: #fff;
}

.welcome__btn {
    align-self: flex-start;
}

.welcome__btn_mobile {
    display: none;
}

.welcome__image {
    width: 520px;
    height: 100%;
    object-fit: cover;
}


/* Products */

.products {
    padding: 80px 0 52px 0;
}

.products__title {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 26.5px;
}

.products__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 35px;
}

.products__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.products__link {
    width: 100%;
}

.products__image {
    width: 100%;
    height: 375px;
    object-fit: cover;
}

.products__item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.products__item-title {
    font-weight: 400;
}

.products__btn {
    display: block;
    margin: 0 auto;
}


/* About section */

.about {
    overflow: hidden;
    position: relative;
    height: 600px;
}

.about__inner {
    display: flex;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 100px 50px 0;
    width: 535px;
    height: 480px;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 315px;
}

.about__title {
    font-size: 24px;
    font-weight: 400;
}

.about__description {
    color: #505977;
}

.about__image-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50vw;
    overflow: hidden;
}

.about__image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.about__btn {
    align-self: flex-start;
}

/* Footer */

.footer {
    background: var(--dark-primary);
}

.footer__inner {
    padding: 58px 0;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.footer__nav-section {
    width: 127px;
}

.footer__title_nav {
    margin-bottom: 12px;
}

.footer__title {
    font-weight: 700;
    color: var(--white);
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__nav-link {
    font-size: 16px;
    color: var(--white);
}

.footer__nav-item {
    display: flex;
    align-items: center;
}

.footer__title_subscribe {
    margin-bottom: 8px;
}

.subscribe__form {
    display: flex;
}

.subscribe__input {
    width: 496px;
    padding: 16px 30px;
    background: rgba(255, 255, 255, 0.15);
    color: var(--white);
}

.subscribe__input::placeholder {
    color: var(--white)
}

.subscribe__btn {
    width: 131px;
}

.footer__divider {
    margin-top: 56px;
    margin-bottom: 24px;
    border: 1px solid var(--primary);
}

.footer__meta {
    display: flex;
    justify-content: space-between;
}

.footer__copyright-title {
    color: var(--white);
}

.social {
    display: flex;
    gap: 24px;
}


/* JS */

.hidden {
    display: none;
}

/* Adaptive */

@media (max-width: 1280px) {
    .container {
        margin: 0 48px;
    }

    .about {
        height: auto;
    }

    .about__inner {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .about__content {
        padding: 0;
    }

    .about__image-wrapper {
        width: 100vw;
        position: static;
    }

    .about__image {
        height: 100%;
    }

    .footer__main {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 1100px) {
    .header__nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header__nav.open {
        display: block;
        position: absolute;
        right: 0;
        top: 5%;
        right: 5%;
        background-color: var(--dark-primary);
        border: 1px solid var(--white);
        border-radius: 8px;
        padding: 12px 16px;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }

    .header__nav-list.open {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header__nav-link.open {
        color: var(--white);
    }

    .welcome__image {
        display: none;
    }

    .welcome__btn_mobile {
        display: block;
    }

    .welcome__btn_desktop {
        display: none;
    }

    .welcome__title {
        margin-bottom: 160px;
    }

    .welcome__description {
        margin-bottom: 32px;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 16px;
    }

    .container {
        margin: 0 24px;
    }

    .welcome__inner {
        max-width: none;
        margin: 0;
    }

    .welcome__title {
        font-size: 20px;
    }

    .welcome__btn {
        align-self: auto;
    }

    .welcome__image-wrapper {
        display: none;
    }

    .products__title {
        font-size: 20px;
    }

    .products__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .products__item:nth-child(odd) {
        order: 1;
    }

    .products__image {
        height: 210px;
    }

    .products__btn {
        align-self: auto;
    }

    .subscribe__input {
        width: 210px;
        text-align: center;
    }

    .about__content {
        height: auto;
        width: auto;
    }

    .about__title {
        font-size: 20px;
    }

    .about__btn {
        align-self: auto;
    }

    .footer__title {
        font-size: 20px;
    }

    .footer__divider {
        margin-top: 12px;
        margin-bottom: 20px;
    }

    .footer__meta {
        justify-content: center;
    }

    .footer__social {
        display: none
    }

    .footer__nav-section_main {
        order: 1;
    }
}

@media (max-width: 481px) {

    .welcome {
        padding: 0;
    }

    .welcome__content {
        padding: 40px 24px 45px 24px;
    }

    .products {
        padding: 48px 0 34px 0;
    }

    .products__items {
        column-gap: 16px;
        row-gap: 20px;
    }

    .about {
        padding-top: 48px;
    }

    .about__info {
        gap: 12px;
        margin-bottom: 56px;
    }

    .footer__nav {
        justify-content: space-between;
        gap: 40px;
    }

    .footer__inner {
        padding: 40px 0 17px 0;
    }
}